@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;

  color: rgb(40, 40, 43);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  /* min-height: 100rem; */
}

body {
  margin: 0;
  padding: 2rem;
  /* background: linear-gradient(180deg, #22182f 0%, #2c2437 100%); */
  background-image: url('./assets/MatteBlack.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

header {
  margin: 2rem 0;
  text-align: center;
}

header img {
  width: 3rem;
  height: 3rem;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.6));
}

header h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  letter-spacing: 0.6rem;
  margin: 0;
  text-transform: uppercase;
  background: linear-gradient(90deg, rgba(224,226,227,1) 0%, rgba(101,106,107,1) 50%, rgba(37,39,39,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main {
  position: relative;
  max-width: 50rem;
  margin: auto;
  padding: 2rem;
  background-color: rgba(129,133,133,1);
  border-radius: 8px;
  box-shadow: 1px 1px 8px 4px rgba(12, 5, 32, 0.6);
  text-align: center;
}

main > h3 {
    letter-spacing: 2px;
}

#answers {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    row-gap: 10px;
}

.answer-button {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 90%;
    height: 40px;
    border: 0;
    outline: 0;
}

.button-box-shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(26, 24, 24, 1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(26, 24, 24, 1);
    box-shadow: 0px 0px 5px 0px rgba(26, 24, 24, 1);
}

#player-answers {
    padding-top: 20px;
}

.player-answer {
    text-align: center;
}

.main-button {
    border: 0;
    outline: 0;
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    padding: 0.8rem 2rem 0.8rem 2rem;
}

#main-menu {
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
}

.restart-button {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.restart-button > span {
    font-size: 2rem;
}

.gray-button-style {
    background-color: rgba(101,106,107,1);
    color: #222;
    cursor: pointer
}

.gray-button-style:hover {
    background-color: rgba(121,126,127,1);
}

progress {
    appearance: none;
    width: 30%;
}

progress[value]::-webkit-progress-value {
    background-color: #C44652;
}

progress[value]::-webkit-progress-bar {
    background-color: rgba(101,106,107,1);
}

.end-quiz-header {
    color: #C44652;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    padding: 5px 0 20px 0;
    margin: 0;
}

#stats {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    padding: 20px 0 20px 0;
}

#stats > div {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
}

#stats > div > p {
    padding: 0;
    margin: 0;
}

#stats > div > p:first-child {
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 1.7rem;
    text-transform: uppercase;
}

#stats > div > p:last-child {
    text-transform: uppercase;
    font-size: 1.0rem;
}

hr {
    width: 50%;
    border: 1px solid #111;
}

.correct-answer-color {
    color: #0c5919;
}

.incorrect-answer-color {
    color: #912011;
}